@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole

@{
    ViewData["Title"] = "Create Role";
}

<h2>Create Role</h2>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <td class="c">Enter Role Name To be Created</td>
            <td class="c">
                @Html.EditorFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td class="c">Enter Role Name To be Created</td>
            <td class="c">
                @Html.EditorFor(m => m.NormalizedName)
            </td>
        </tr>
    </table>
    <input type="submit" value="Create Role" />
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
